<a href="https://colab.research.google.com/github/pallavi17bhatt/python101/blob/main/PythonPractice1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Learning Python Day 1

In [1]:
print("Hello world")

Hello world

Calculate the number of seconds in four years

In [2]:
num_of_years=4
days_per_year=365
hours_per_day=24
mins_per_hour=60
secs_per_min=60

total_secs= num_of_years * days_per_year * hours_per_day * mins_per_hour * secs_per_min
print(total_secs)

126144000

Calculate the salary of a person after giving 12% tax. His hourly salary is 15$/hour. Calculate his weekly pay

In [12]:
def get_pay(numofhours):
  #calculating total pay before deducting tax
    pay_before_tax=15*numofhours
  #If he is giving 12%tax that means he is taking home 88% of his total salary and 88% can be written as(1-12/100) or (1-.12)
    pay_after_tax=pay_before_tax*(1-.12)
    return pay_after_tax


weekly_pay=get_pay(40)
print(weekly_pay)

528.0

Function with multiple arguments

In [15]:
def calculate_salary_aftertax(numofhours, hourlywage, tax_bracket):
  pay_before_tax=numofhours*hourlywage
  pay_after_tax=pay_before_tax*(1-tax_bracket)
  return pay_after_tax



take_home_salary=calculate_salary_aftertax(40, 15, .12)
print(take_home_salary)

528.0

Learning Datatypes in Python. In Pyhton we do not need to specify datatype when declaring variable because python is a dynamically typed language and pyhton will fugure out datatypes on its own.

In [1]:
x=34
print(x)
print(type(x))


y=1.5657
print(y)
print(type(y))


name="foo"
print(name)
print(type(name))

z=1.0
print(z)
print(type(z))

34
<class 'int'>
1.5657
<class 'float'>
foo
<class 'str'>
1.0
<class 'float'>

round function and len function

In [2]:
rounded_value = round(23.45678, 3)
print(rounded_value)
print(type(rounded_value))

name = "foo"
print(name)
print(len(name))

23.457
<class 'float'>
foo
3

Any number which is positive, negative or zero is an integer. Any fraction or decimal is treated as float. Let us check

In [20]:
frn=33/12
print(frn)
print(type(frn))

2.75
<class 'float'>

3.0

# Undestanding List and if_else statements in pyhton

In [28]:
def calculate_body_temp(temp):
  if(temp<=38):
    message="Normal temprature"
  else:
    message="fever"
  return message


body_state=calculate_body_temp(40)
print(body_state)

fever

# Else_if can be written as elif in pytnon. Lets see

Write a method to add two numbers

In [43]:
def addnumbers(x,y):

  z=x+y
  return z
total=addnumbers(5,6)
print(total)

11

# Write a method to subtract two numbers

In [30]:
def subtractnumbers(x,y):
  z=x-y
  return z
total=addnumbers(5,6)
print(total)

-1

Write a method naming calculate which takes three arguments

1. string methodname
2. number 1
3. number 2

In [44]:
def calculate(operation, x, y):

  if(operation=="add"):

    result = addnumbers(x,y)
  elif (operation=="subtract"):
    result = subtractnumbers(x,y)
  else:
    result = "NotSupported"
  return result

calculate("add", 2,3)

5

In [2]:
ls=[1,2,4,5,6,7,8,9,11,13,24,34,26,38,40,42,56,60,80]
for num in ls:
  if(num%2==0):
      print(num)

2
4
6
8
24
34
26
38
40
42
56
60
80

In [5]:
ls=[1,2,4,5,6,7,8,9,11,13,24,34,26,38,40,42,56,60,80]
totalevennum=0
for num in ls:
  if(num%2==0):
    totalevennum=totalevennum+1

print(totalevennum)

13

In [3]:
ls=[1,2,4,5,6,7,8,9,11,13,24,34,26,38,40,42,56,60,80]
i=0
while(i<len(ls)):

  num=ls[i]
  if(num%2==0):
    print(num)
  i=i+1

2
4
6
8
24
34
26
38
40
42
56
60
80

In [4]:
ls=[1,2,4,5,6,7,8,9,11,13,24,34,26,38,40,42,56,60,80]
i=0
totalevennum=0
while(i<len(ls)):
  num=ls[i]
  if(num%2==0):
    totalevennum=totalevennum+1

  i=i+1
print(totalevennum)

13

# Sum the numbers in the following two array by their index and create a new list

In [8]:
x=[1,2,3,4,5]
y=[5,10,12,13,15]
i=0
sum=[]
while(i<len(x)):
  sum.append(x[i]+y[i])


  i=i+1
sum

[6, 12, 15, 17, 20]

# For each item inthe following list of firtsname and lastname of the people, create a list of greetings, with the following message.

message = "Hello, Firstname Lastname!"
people= people= [["John", "Clark"], ["Colin", "Bridgerton"],["Rahul", "Singh"],["Amy", "Shaw"]]


greetings = ['Hello, John Clark!', 'Hello, Colin Bridgerton!', 'Hello, Rahul Singh!', 'Hello, Amy Shaw!]

In [3]:
people= [["John", "Clark"], ["Colin", "Bridgerton"],["Rahul", "Singh"],["Amy", "Shaw"]]
greetings=[]

for eachperson in people:
  message="Hello, " + eachperson[0] + " " + eachperson[1] + "!"
  greetings.append(message)

print(greetings)

['Hello, John Clark!', 'Hello, Colin Bridgerton!', 'Hello, Rahul Singh!', 'Hello, Amy Shaw!']

# Learning So far
1. The variable which is the final outcome should be declared/initialized outside the loop. For eg, sum=0 is initialized outside the loop. If i initialize sum=0 inside the loop, it will give me 0 untill the loop terminated/breaks.

2. When you need control over iterator that is "i", we will use while loop. And when there is no need of iterator involving in logic we can use for loop.
```
x=[1,2,3,4,5]
y=[5,10,12,13,15]
i=0
sum=[]
while(i<len(x)):
  sum.append(x[i]+y[i])
  i=i+1
sum
```

For each item inthe following list of firtsname and lastname of the people, create a list of greetings, with the following message.
message = "Hello, Firstname Lastname!"

people= people= [{"firstname":"Amy", "lastname":"Shaw"}, {"firstname":"Harry", "lastname":"Potter"}]

greetings = ["Hello, Amy Shaw", "Hello, Harry Potter!"]

In [4]:
people= [{"firstname":"Amy", "lastname":"Shaw"}, {"firstname":"Harry", "lastname":"Potter"}]
greetings=[]

for eachperson in people:
  message="Hello, " + eachperson["firstname"] + " " + eachperson["lastname"] + "!"
  greetings.append(message)

print(greetings)

['Hello, Amy Shaw!', 'Hello, Harry Potter!']

In [6]:
name="Gini"
p="beautiful"
height="5ft4in"

str="Gini is very beautiful girl. Gini's height is 5ft4in. 5ft4in height for girls is very beautiful"

templatestr="{0} is very {1} girl.{0}'s height is {2}. {2} height for girls is very {1}"
result=templatestr.format(name, p, height)
#print(result)

name1="Harry"
p1="amazing"
height1="7ft20in"
result1=templatestr.format(name1, p1, height1)
print(result1)

Harry is very amazing girl.Harry's height is 7ft20in. 7ft20in height for girls is very amazing

# Customising the string for a large dataset.
1. Here in this code we have a list of people, and we want to write a custom message. We have a template for message and we have to customise the template based on different people.
2. Created a sample string to understand the desired output and to create the template
3. Created a template with five arguments/parameters by replacing the values which are important for custom message.
4. Iterated using for loop to print the custom message.
5. Same thing can be done using while loop instead of for loop as well.

In [27]:
list_of_people = [
  {
    "name": "Ramesh",
    "sex": "male",
    "quality": "crazy",
    "age": 30,
    "height": "5ft4in"
  },
  {
    "name": "Anjali",
    "sex": "female",
    "quality": "kind",
    "age": 25,
    "height": "5ft6in"
  },
  {
    "name": "Suresh",
    "sex": "male",
    "quality": "brave",
    "age": 32,
    "height": "5ft10in"
  },
  {
    "name": "Maya",
    "sex": "female",
    "quality": "creative",
    "age": 28,
    "height": "5ft5in"
  },
  {
    "name": "Rahul",
    "sex": "male",
    "quality": "funny",
    "age": 27,
    "height": "5ft9in"
  },
  {
    "name": "Priya",
    "sex": "female",
    "quality": "intelligent",
    "age": 24,
    "height": "5ft4in"
  },
  {
    "name": "Vikas",
    "sex": "male",
    "quality": "adventurous",
    "age": 29,
    "height": "6ft0in"
  },
  {
    "name": "Sana",
    "sex": "female",
    "quality": "thoughtful",
    "age": 31,
    "height": "5ft7in"
  },
  {
    "name": "Amit",
    "sex": "male",
    "quality": "ambitious",
    "age": 26,
    "height": "5ft11in"
  },
  {
    "name": "Neha",
    "sex": "female",
    "quality": "generous",
    "age": 30,
    "height": "5ft3in"
  },
  {
    "name": "Rohit",
    "sex": "male",
    "quality": "curious",
    "age": 33,
    "height": "5ft8in"
  },
  {
    "name": "Divya",
    "sex": "female",
    "quality": "friendly",
    "age": 27,
    "height": "5ft5in"
  },
  {
    "name": "Kunal",
    "sex": "male",
    "quality": "wise",
    "age": 35,
    "height": "6ft1in"
  },
  {
    "name": "Isha",
    "sex": "female",
    "quality": "charming",
    "age": 23,
    "height": "5ft2in"
  },
  {
    "name": "Arjun",
    "sex": "male",
    "quality": "diligent",
    "age": 29,
    "height": "5ft9in"
  },
  {
    "name": "Meera",
    "sex": "female",
    "quality": "optimistic",
    "age": 28,
    "height": "5ft6in"
  },
  {
    "name": "Vijay",
    "sex": "male",
    "quality": "hardworking",
    "age": 34,
    "height": "5ft7in"
  },
  {
    "name": "Rina",
    "sex": "female",
    "quality": "caring",
    "age": 26,
    "height": "5ft4in"
  },
  {
    "name": "Nikhil",
    "sex": "male",
    "quality": "perceptive",
    "age": 31,
    "height": "6ft0in"
  },
  {
    "name": "Kavya",
    "sex": "female",
    "quality": "calm",
    "age": 25,
    "height": "5ft5in"
  },
  {
    "name": "Manish",
    "sex": "male",
    "quality": "confident",
    "age": 32,
    "height": "5ft10in"
  },
  {
    "name": "Pooja",
    "sex": "female",
    "quality": "loving",
    "age": 29,
    "height": "5ft7in"
  },
  {
    "name": "Akash",
    "sex": "male",
    "quality": "enthusiastic",
    "age": 27,
    "height": "5ft9in"
  },
  {
    "name": "Sneha",
    "sex": "female",
    "quality": "passionate",
    "age": 28,
    "height": "5ft6in"
  },
  {
    "name": "Ravi",
    "sex": "male",
    "quality": "kind",
    "age": 33,
    "height": "5ft11in"
  },
  {
    "name": "Naina",
    "sex": "female",
    "quality": "graceful",
    "age": 24,
    "height": "5ft3in"
  },
  {
    "name": "Yash",
    "sex": "male",
    "quality": "humble",
    "age": 30,
    "height": "6ft0in"
  },
  {
    "name": "Ritu",
    "sex": "female",
    "quality": "patient",
    "age": 26,
    "height": "5ft4in"
  },
  {
    "name": "Kabir",
    "sex": "male",
    "quality": "charismatic",
    "age": 35,
    "height": "5ft10in"
  },
  {
    "name": "Alia",
    "sex": "female",
    "quality": "artistic",
    "age": 27,
    "height": "5ft5in"
  },
  {
    "name": "Vikram",
    "sex": "male",
    "quality": "decisive",
    "age": 31,
    "height": "5ft8in"
  },
  {
    "name": "Shreya",
    "sex": "female",
    "quality": "sensitive",
    "age": 28,
    "height": "5ft6in"
  },
  {
    "name": "Tarun",
    "sex": "male",
    "quality": "innovative",
    "age": 29,
    "height": "5ft9in"
  },
  {
    "name": "Anita",
    "sex": "female",
    "quality": "dynamic",
    "age": 33,
    "height": "5ft4in"
  },
  {
    "name": "Raj",
    "sex": "male",
    "quality": "courageous",
    "age": 32,
    "height": "5ft11in"
  },
  {
    "name": "Simran",
    "sex": "female",
    "quality": "friendly",
    "age": 24,
    "height": "5ft2in"
  },
  {
    "name": "Sanjay",
    "sex": "male",
    "quality": "calm",
    "age": 28,
    "height": "6ft0in"
  },
  {
    "name": "Jaya",
    "sex": "female",
    "quality": "generous",
    "age": 30,
    "height": "5ft5in"
  },
  {
    "name": "Deepak",
    "sex": "male",
    "quality": "ambitious",
    "age": 29,
    "height": "5ft8in"
  },
  {
    "name": "Lata",
    "sex": "female",
    "quality": "thoughtful",
    "age": 27,
    "height": "5ft4in"
  },
  {
    "name": "Naveen",
    "sex": "male",
    "quality": "hardworking",
    "age": 31,
    "height": "5ft10in"
  },
  {
    "name": "Rashmi",
    "sex": "female",
    "quality": "patient",
    "age": 25,
    "height": "5ft6in"
  },
  {
    "name": "Aakash",
    "sex": "male",
    "quality": "wise",
    "age": 34,
    "height": "6ft1in"
  },
  {
    "name": "Payal",
    "sex": "female",
    "quality": "charming",
    "age": 26,
    "height": "5ft3in"
  },
  {
    "name": "Rajesh",
    "sex": "male",
    "quality": "curious",
    "age": 33,
    "height": "5ft9in"
  },
  {
    "name": "Sunita",
    "sex": "female",
    "quality": "optimistic",
    "age": 28,
    "height": "5ft5in"
  },
  {
    "name": "Pankaj",
    "sex": "male",
    "quality": "creative",
    "age": 30,
    "height": "5ft11in"
  },
  {
    "name": "Vandana",
    "sex": "female",
    "quality": "caring",
    "age": 24,
    "height": "5ft4in"
  },
  {
    "name": "Raghav",
    "sex": "male",
    "quality": "confident",
    "age": 32,
    "height": "6ft0in"
  }
]


sample_string = "Raghav is an amazing person. Raghav's is a male. He is very confident and confident people are great to engage. Raghav is 32 years old. He is 6ft0in tall."
template_string = "{0} is an amazing person. {0}'s is a {1}. He is very {2} and {2} people are great to engage. {0} is {3} years old. He is {4} tall."
# i=0
# while(i<len(list_of_people)):
#   custom_template=template_string.format(list_of_people[i]["name"], list_of_people[i]["sex"], list_of_people[i]["quality"], list_of_people[i]["age"], list_of_people[i]["height"])
#   print(custom_template)
#   i=i+1

for x in list_of_people:
  custom_template=template_string.format(x["name"], x["sex"], x["quality"], x["age"], x["height"])
  print(custom_template)

Ramesh is an amazing person. Ramesh's is a male. He is very crazy and crazy people are great to engage. Ramesh is 30 years old. He is 5ft4in tall.
Anjali is an amazing person. Anjali's is a female. He is very kind and kind people are great to engage. Anjali is 25 years old. He is 5ft6in tall.
Suresh is an amazing person. Suresh's is a male. He is very brave and brave people are great to engage. Suresh is 32 years old. He is 5ft10in tall.
Maya is an amazing person. Maya's is a female. He is very creative and creative people are great to engage. Maya is 28 years old. He is 5ft5in tall.
Rahul is an amazing person. Rahul's is a male. He is very funny and funny people are great to engage. Rahul is 27 years old. He is 5ft9in tall.
Priya is an amazing person. Priya's is a female. He is very intelligent and intelligent people are great to engage. Priya is 24 years old. He is 5ft4in tall.
Vikas is an amazing person. Vikas's is a male. He is very adventurous and adventurous people are great to engage. Vikas is 29 years old. He is 6ft0in tall.
Sana is an amazing person. Sana's is a female. He is very thoughtful and thoughtful people are great to engage. Sana is 31 years old. He is 5ft7in tall.
Amit is an amazing person. Amit's is a male. He is very ambitious and ambitious people are great to engage. Amit is 26 years old. He is 5ft11in tall.
Neha is an amazing person. Neha's is a female. He is very generous and generous people are great to engage. Neha is 30 years old. He is 5ft3in tall.
Rohit is an amazing person. Rohit's is a male. He is very curious and curious people are great to engage. Rohit is 33 years old. He is 5ft8in tall.
Divya is an amazing person. Divya's is a female. He is very friendly and friendly people are great to engage. Divya is 27 years old. He is 5ft5in tall.
Kunal is an amazing person. Kunal's is a male. He is very wise and wise people are great to engage. Kunal is 35 years old. He is 6ft1in tall.
Isha is an amazing person. Isha's is a female. He is very charming and charming people are great to engage. Isha is 23 years old. He is 5ft2in tall.
Arjun is an amazing person. Arjun's is a male. He is very diligent and diligent people are great to engage. Arjun is 29 years old. He is 5ft9in tall.
Meera is an amazing person. Meera's is a female. He is very optimistic and optimistic people are great to engage. Meera is 28 years old. He is 5ft6in tall.
Vijay is an amazing person. Vijay's is a male. He is very hardworking and hardworking people are great to engage. Vijay is 34 years old. He is 5ft7in tall.
Rina is an amazing person. Rina's is a female. He is very caring and caring people are great to engage. Rina is 26 years old. He is 5ft4in tall.
Nikhil is an amazing person. Nikhil's is a male. He is very perceptive and perceptive people are great to engage. Nikhil is 31 years old. He is 6ft0in tall.
Kavya is an amazing person. Kavya's is a female. He is very calm and calm people are great to engage. Kavya is 25 years old. He is 5ft5in tall.
Manish is an amazing person. Manish's is a male. He is very confident and confident people are great to engage. Manish is 32 years old. He is 5ft10in tall.
Pooja is an amazing person. Pooja's is a female. He is very loving and loving people are great to engage. Pooja is 29 years old. He is 5ft7in tall.
Akash is an amazing person. Akash's is a male. He is very enthusiastic and enthusiastic people are great to engage. Akash is 27 years old. He is 5ft9in tall.
Sneha is an amazing person. Sneha's is a female. He is very passionate and passionate people are great to engage. Sneha is 28 years old. He is 5ft6in tall.
Ravi is an amazing person. Ravi's is a male. He is very kind and kind people are great to engage. Ravi is 33 years old. He is 5ft11in tall.
Naina is an amazing person. Naina's is a female. He is very graceful and graceful people are great to engage. Naina is 24 years old. He is 5ft3in tall.
Yash is an amazing person. Yash's is a male. He is very humble and humble people are great to engage. Yash is 30 years old. He is 6ft0in tall.
Ritu is an amazing person. Ritu's is a female. He is very patient and patient people are great to engage. Ritu is 26 years old. He is 5ft4in tall.
Kabir is an amazing person. Kabir's is a male. He is very charismatic and charismatic people are great to engage. Kabir is 35 years old. He is 5ft10in tall.
Alia is an amazing person. Alia's is a female. He is very artistic and artistic people are great to engage. Alia is 27 years old. He is 5ft5in tall.
Vikram is an amazing person. Vikram's is a male. He is very decisive and decisive people are great to engage. Vikram is 31 years old. He is 5ft8in tall.
Shreya is an amazing person. Shreya's is a female. He is very sensitive and sensitive people are great to engage. Shreya is 28 years old. He is 5ft6in tall.
Tarun is an amazing person. Tarun's is a male. He is very innovative and innovative people are great to engage. Tarun is 29 years old. He is 5ft9in tall.
Anita is an amazing person. Anita's is a female. He is very dynamic and dynamic people are great to engage. Anita is 33 years old. He is 5ft4in tall.
Raj is an amazing person. Raj's is a male. He is very courageous and courageous people are great to engage. Raj is 32 years old. He is 5ft11in tall.
Simran is an amazing person. Simran's is a female. He is very friendly and friendly people are great to engage. Simran is 24 years old. He is 5ft2in tall.
Sanjay is an amazing person. Sanjay's is a male. He is very calm and calm people are great to engage. Sanjay is 28 years old. He is 6ft0in tall.
Jaya is an amazing person. Jaya's is a female. He is very generous and generous people are great to engage. Jaya is 30 years old. He is 5ft5in tall.
Deepak is an amazing person. Deepak's is a male. He is very ambitious and ambitious people are great to engage. Deepak is 29 years old. He is 5ft8in tall.
Lata is an amazing person. Lata's is a female. He is very thoughtful and thoughtful people are great to engage. Lata is 27 years old. He is 5ft4in tall.
Naveen is an amazing person. Naveen's is a male. He is very hardworking and hardworking people are great to engage. Naveen is 31 years old. He is 5ft10in tall.
Rashmi is an amazing person. Rashmi's is a female. He is very patient and patient people are great to engage. Rashmi is 25 years old. He is 5ft6in tall.
Aakash is an amazing person. Aakash's is a male. He is very wise and wise people are great to engage. Aakash is 34 years old. He is 6ft1in tall.
Payal is an amazing person. Payal's is a female. He is very charming and charming people are great to engage. Payal is 26 years old. He is 5ft3in tall.
Rajesh is an amazing person. Rajesh's is a male. He is very curious and curious people are great to engage. Rajesh is 33 years old. He is 5ft9in tall.
Sunita is an amazing person. Sunita's is a female. He is very optimistic and optimistic people are great to engage. Sunita is 28 years old. He is 5ft5in tall.
Pankaj is an amazing person. Pankaj's is a male. He is very creative and creative people are great to engage. Pankaj is 30 years old. He is 5ft11in tall.
Vandana is an amazing person. Vandana's is a female. He is very caring and caring people are great to engage. Vandana is 24 years old. He is 5ft4in tall.
Raghav is an amazing person. Raghav's is a male. He is very confident and confident people are great to engage. Raghav is 32 years old. He is 6ft0in tall.